<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
    <style>
        .main-body{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%,-50%);
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
                <button class="btn btn-primary" th:onclick="|location.href='MemberManage'|" type="submit">MemberManage</button>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <form action="" class="main-body" th:object="${itemDto}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-2">
            <label for="name" class="form-label">이름</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}">상품명 오류</div>
        </div>
        <div class="mb-2">
            <label for="price" class="form-label">가격</label>
            <input type="text" id="price" class="form-control" th:field="*{price}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{price}">
                가격 오류
            </div>
        </div>
        <div class="mb-2">
            <label for="stockQuantity" class="form-label">수량</label>
            <input type="text" id="stockQuantity" class="form-control" th:field="*{stockQuantity}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{stockQuantity}">
                수량 오류
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-primary">아이탬 추가하기</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='LoginHome.html'"
                    th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </form>
</div>

</body>
</html>