<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>MemberManager</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='@{/manage}'|" type="submit">Manage</button>
                <button class="btn btn-primary" th:onclick="|location.href='@{/create}'|" type="submit">CreateItem</button>
                <a class="btn btn-primary" th:href="@{/list/{id} (id=${member.id})}" type="submit">orderList</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memberList,i:${members}">
            <th scope="row" th:text="${i.index+1}"></th>
            <td th:text="${memberList.loginId}"></td>
            <td th:text="${memberList.memberName}"></td>
            <td>
                <form th:action="@{/delete}" method="post">
                    <input type="hidden" name="id" th:value="${memberList.id}">
                    <button type="submit">delete</button>
<!--                    admin만 들어오게한다. 회원 전체가 보여야한다. 삭제가 되어야한ㄷ나.-->
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>