<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>ShopManager</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='/list/member'|" type="submit">MemberManage</button>
                <button class="btn btn-primary" th:onclick="|location.href='create'|" type="submit">CreateItem</button>
                <a class="btn btn-primary" th:href="@{/list/{id} (id=${member.id})}" type="submit">orderList</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
                <th scope="col">추가 할 수량</th>
                <th scope="col">삭제하기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="items,i:${item}">
                <th scope="row" th:text="${i.index+1}"></th>
                <td th:text="${items.itemName}"></td>
                <td th:text="${items.price}"></td>
                <td th:text="${items.stockQuantity}"></td>
                <td>
                    <form action="" method="post">
                        <input type="text" id="stockQuantity" th:value="${items.stockQuantity}" required>
                        <input type="hidden" name="id" th:value="${items.id}">
                        <input type="hidden" name="itemName" th:value="${items.itemName}">
                        <input type="hidden" name="price" th:value="${items.price}">
                        <input type="hidden" name="stockQuantity" th:value="${items.stockQuantity}">
                        <button type="submit">+</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/delete/item}" method="post">
                        <input type="hidden" name="id" th:value="${items.id}">
                        <button type="submit">삭제하기</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>