<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>ShopManager</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="items,i:${itemDto}">
                <th scope="row" th:text="${i.index+1}"></th>
                <td th:text="${items[0]}"></td>
                <td th:text="${items[1]}"></td>
                <td th:text="${items[2]}"></td>
                <td>
                    <form action="" method="get">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>