<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>MyPage</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
        .margin-button{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="mid">
    <form  action="" th:object="${member}" method="post">
        <div class="mb-3">
            <label for="loginId" class="form-label">id</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control" th:errorclass="field-error" required>
            <div class="field-error" th:errors="*{loginId}"/>
<!--            <div class="margin-button" action="Mypage-loginId" method="get">-->
<!--                <a th:href="@{/Mypage-loginId/{loginId} (id=${member.loginId})}" role="button" class="btn btn-lg btn-primary">중복확인</a>-->
<!--                데이터를 보내야하는데 안보네짐 아마도 다르게 해야할거같다.-->
<!--                <button type="submit" class="btn btn-lg btn-primary">중복검사</button>-->
<!--            </div>-->
            <input type="button" value="ID중복확인">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error" required>
        </div>
        <div>
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div>
            <div class="margin-button">
               <button type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
            </div>
            <div class="margin-button">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='LoginHome.html'"
                        th:onclick="|location.href='@{/}'|" type="button">취소</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>