<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>MyPage</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" th:href="@{/cart/{id} (id=${member.id})}" type="submit">Cart</a>
            <a class="btn btn-primary" th:href="@{/members/{id}/orders(id=${member.id})}" type="submit">orderList</a>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <form action="" th:object="${member}" method="get">
        <div>
            <span style="font-size: 3em">아이디 : </span>
            <span style="font-size: 3em" id="loginId" th:text="*{loginId}"></span>
        </div>
        <div>
            <span style="font-size: 3em">이름 : </span>
            <span style="font-size: 3em" id="memberName" th:text="*{memberName}"></span>
        </div>
        <a th:href="@{/members/{id}/edit (id=${member.id})}" role="button" class="btn btn-lg btn-primary">Edit</a>
    </form>
</div>
</body>
</html>