<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>MyPage</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <form action="" th:object="${member}" method="get">
        <div>
            <div>
                <span style="font-size: 3em">아이디 : </span>
                <span style="font-size: 3em" id="loginId" th:text="*{loginId}"></span>
            </div>
            <div>
                <span style="font-size: 3em">이름 : </span>
                <span style="font-size: 3em" id="name" th:text="*{name}"></span>
            </div>
            <div>
                <a th:href="@{/Edit/{id} (id=${member.id})}" role="button" class="btn btn-lg btn-primary">Edit</a>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">상품 주문</th>
            <th scope="col">주문 금액</th>
            <th scope="col">수량</th>
            <th scope="col">주문 상태</th>
            <th scope="col">배송 취소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="items:${item}">
            <td scope="row" th:text="${items.name}"></td>
            <td th:text="${items.price}"></td>
            <td th:text="${items.stockQuantity}"></td>
            <td></td>
            <td>
                <form action="" method="post">
                    <button type="submit">취소하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>