<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>orderList</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='@{/manage}'|" type="submit">Manage</button>
                <button class="btn btn-primary" th:onclick="|location.href='@{/create}'|" type="submit">CreateItem</button>
                <button class="btn btn-primary" th:onclick="|location.href='/list/member'|" type="submit">MemberManage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a class="btn btn-primary" th:onclick="|location.href='@{/cart}'|" type="submit">Cart</a>
                <a href="#" class="btn btn-primary" th:href="@{/mypage/{id} (id=${member.id})}" role="button">Mypage</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">상품 주문</th>
            <th scope="col">주문 금액</th>
            <th scope="col">수량</th>
            <th scope="col">주문 상태</th>
            <th scope="col">배송 취소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="items:${item}">
            <td scope="row" th:text="${items.itemName}"></td>
            <td th:text="${items.price}"></td>
<!--            수량은 따로 받아서 해야할듯한다.-->
            <td th:text="${items.stockQuantity}"></td>
<!--            <td th:text="${items.orderItems}"></td>-->
            <!--다른값으로 받아야 할듯하다.-->
            <td></td>
            <td>
                <form action="cancel" method="post">
                    <button type="submit">취소하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>