<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Bill</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a href="#" class="btn btn-primary" th:href="@{/Mypage/{id} (id=${member.id})}" role="button">Mypage</a>            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mid">
    <form th:object="${itemDto}">
        <div>
            제품이름 : <span th:text="*{itemName}"></span>
        </div>
        <div>
            선택한 수량 : <span th:text="*{stockQuantity}"></span>
        </div>
        <div>
            총 가격 : <span th:text="${pullPrice}"></span>
        </div>
    </form>
    <form th:object="${member}">
        <div>
            이름 <span th:text="*{memberName}"></span>
        </div>
    </form>
    <form action="Bill" th:object="${deliveryDto}" method="post">
        주소
        <div>
            <input id="city" th:field="*{city}" th:errorclass="field-error" required>
            <input id="street" th:field="*{street}" th:errorclass="field-error" required>
             <input id="zipcode" th:field="*{zipcode}" th:errorclass="field-error" required>
        </div>
        <div>
            <input type="hidden" name="itemName" th:value="${itemDto.itemName}">
            <input type="hidden" name="stockQuantity" th:value="${itemDto.stockQuantity}">
            <input type="hidden" name="price" th:value="${itemDto.price}">
            <button type="submit" class="btn btn-primary" >구매하기</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='LoginHome.html'"
                    th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </form>
</div>
</body>
</html>