<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Bill</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='Mypage'|" type="submit">Mypage</button>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mid">
    <form th:object="${item}">
        <div>
            제품이름 <span th:text="${item.name}"></span>
        </div>
    </form>
    <form th:object="${member}">
        <div>
            이름 <span th:text="*{name}"></span>
        </div>
    </form>
    <form action="Success" th:object="${delivery}" method="get">
        <div>
            <label class="form-label">주소</label>
            <input id="city" th:field="*{city}">
            <input id="street" th:field="*{street}">
            <input id="zipcode" th:field="*{zipcode}">
        </div>
        <div>
            <input type="hidden" name="name" th:value="${item.name}">
            <input type="hidden" name="price" th:value="${delivery.city}">
            <input type="hidden" name="price" th:value="${delivery.street}">
            <input type="hidden" name="stockQuantity" th:value="${delivery.zipcode}">
            <button type="submit" class="btn btn-primary" >구매하기</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='LoginHome.html'"
                    th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </form>
</div>
</body>
</html>