<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Fail</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='Mypage'|" type="submit">Mypage</button>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mid">
    <div>상품 주문을 실패했습니다.</div>
    <div>
        <button class="btn btn-primary" th:onclick="|location.href='home.html'|" type="submit">메인메뉴로 돌아가기</button>
    </div>
</div>
</body>
</html>