<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Success</title>
    <style>
        .mid{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='@{/management}'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a href="#" class="btn btn-primary" th:href="@{/members/{id} (id=${member.id})}" role="button">Mypage</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mid">
    <span style="font-size: 2em">주문에 성공하였습니다</span>
    <form th:object="${itemDto}">
        <div>
            <span style="font-size: 2em">제품이름 : </span>
            <span style="font-size: 2em" th:text="*{itemName}"></span>
        </div>
        <div>
            <span style="font-size: 2em">선택한 수량 : </span>
            <span style="font-size: 2em" th:text="*{stockQuantity}"></span>
        </div>
        <div>
            <span style="font-size: 2em">총 가격 : </span>
            <span style="font-size: 2em" th:text="${fullPrice}"></span>
        </div>
    </form>
    <form th:object="${deliveryDto}">
        <div>
            <div>
                <span style="font-size: 2em">주소1 : </span>
                <span style="font-size: 2em" id="city" th:text="*{city}"></span>
            </div>
            <div>
                <span style="font-size: 2em">주소2 : </span>
                <span style="font-size: 2em" id="street" th:text="*{street}"></span>
            </div>
            <div>
                <span style="font-size: 2em">상세주소 : </span>
                <span style="font-size: 2em" id="zipcode" th:text="*{zipcode}"></span>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" onclick="location.href='LoginHome.html'"
                    th:onclick="|location.href='@{/}'|" type="button">메인메뉴로 돌아가기</button>
        </div>
    </form>
</div>
</body>
</html>