<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Success</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='Mypage'|" type="submit">Mypage</button>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <form th:object="${item}">
        <label class="form-label">제품이름</label>
        <div th:text="*{name}"></div>
    </form>
</div>
<div>
    <form th:object="${Delivery}">
        <div>
            <label for="city" class="form-label">주소</label>
            <div>
                <span style="font-size: 3em">주소1 : </span>
                <span style="font-size: 3em" id="city" th:text="*{city}"></span>
            </div>
            <div>
                <span style="font-size: 3em">주소2 : </span>
                <span style="font-size: 3em" id="street th:text="*{street}"></span>
            </div>
            <div>
                <span style="font-size: 3em">상세주소 : </span>
                <span style="font-size: 3em" id="zipcode" th:text="*{zipcode}"></span>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">메인메뉴로 돌아가기</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='checkHome.html'"
                    th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </form>
</div>
</body>
</html>