<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='shopManage'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a href="#" class="btn btn-primary" th:href="@{/Mypage/{id} (id=${member.id})}" role="button">Mypage</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <table class="container">
        <thead class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">구매하기</th>
            <th scope="col">찜하기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="items,i:${item}">
            <th scope="row" th:text="i.index+1"></th>
            <td th:text="${items.name}"></td>
            <td th:text="${items.price}"></td>
            <td th:text="${items.stockQuantity}"></td>
            <td>
                <form action="Buy" method="get">
                    <input type="hidden" name="name" th:value="${items.name}">
                    <input type="hidden" name="price" th:value="${items.price}">
                    <input type="hidden" name="stockQuantity" th:value="${items.stockQuantity}">
                    <button type="submit" class=" btn btn-lg btn-primary" >구매하기</button>
                </form>
            </td>
                <form action="Cart" method="get">
                    <input type="hidden" name="name" th:value="${items.name}">
                    <input type="hidden" name="price" th:value="${items.price}">
                    <input type="hidden" name="stockQuantity" th:value="${items.stockQuantity}">
                    <button type="submit" class=" btn btn-lg btn-primary" >쇼핑카드에 넣기</button>
                </form>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>