<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" th:onclick="|location.href='Mypage'|" type="submit">Mypage</button>
        </div>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>