<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Shop</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${member.loginId=='admin'}">
                <button class="btn btn-primary" th:onclick="|location.href='@{/management}'|" type="submit">Manage</button>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a href="#" class="btn btn-primary" th:href="@{/members/{id} (id=${member.id})}" role="button">Mypage</a>
            </div>
            <div th:unless="${member.loginId=='admin'}">
                <a class="btn btn-primary" th:href="@{/members/{id}/orders (id=${member.id})}" type="submit">orderList</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div>
                    <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">가격</th>
            <th scope="col">남은 수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carts,i:${cart}">
            <th scope="row" th:text="${i.index+1}"></th>
            <td th:text="${carts.item.itemName}"></td>
            <td th:text="${carts.item.price}"></td>
            <td th:text="${carts.item.stockQuantity}"></td>
<!--        이름,가격,수량은 내가 text값해서 넣어야한다.-->
            <td>
                <form th:action="@{/items}" method="get">
                    <input type="hidden" name="itemName" th:value="${carts.item.itemName}">
                    <input type="hidden" name="price" th:value="${carts.item.price}">
                    <input type="hidden" name="id" th:value="${carts.item.id}">
                    <button type="submit" class=" btn btn-lg btn-primary" >구매하기</button>
                </form>
            </td>
            <td>

                <form th:action="@{/cart/{cartId}/delete}" method="post">
                    <input type="hidden" name="cartId" th:value="${carts.id}">
                    <button type="submit"  class=" btn btn-lg btn-primary">제거하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>